:root {
    --beat-odd-color: #efefef;
    --beat-even-color:  #fefefe;
    --main-txt-color: #050505;
    --highlight-color: #a6858f;
}

#player-wrapper {
    display: table;
}

#player-wrapper {
    font-family: monospace;
}

.beat-odd, .beat-even {
    display: table-cell;
}

.beat-odd {
    background: var(--beat-odd-color);
}

.beat-even {
    background: var(--beat-even-color);
}

.sub-beat {
    border: 0px;
    display: inline-block;
    padding: 1em;
}
